#gameButtons{
    margin: auto;
    margin-top: 1rem;
    border: solid 5px grey;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12.5rem;
    height: auto;
    padding: 0.5rem;
    background-color: black;
};

#gameButtons__midArrows{
    display: flex;
    justify-content: space-between;
};

.gameButtons__allArrows{
    width: 3.5rem;
    height: 3.5rem;
    background-color: black;
    color: white;
    border: solid 2px white;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    padding: 0;
};

.gameButtons__allArrows:hover{
    background-color: grey;
}