#gameBoard{
    width: 20rem;
    height: 20rem;
    background-color: black;
    border: solid 5px grey;
    margin: auto;
    border-radius: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
};